<style>
	.print-format table, .print-format tr, 
	.print-format td, .print-format div, .print-format p {
		line-height: 150%;
		vertical-align: middle;
	}
	@media screen {
		.print-format {
			width: 4in;
			padding: 0.25in;
			min-height: 8in;
		}
	}

    .amount_table{
 border-bottom:1px solid;
 font-size:10;
}

.receipt_number{
     border-bottom:1px solid;
}
.receipt_number1{
     border-bottom:1px solid;
     font-size:10;
}
.tax{
     border-bottom:1px solid;
}
.thank_you{
    border-bottom:1px solid;
    font-size:10;
}
.terms{
     border-bottom:1px solid;
     font-size:10;
}
.offer{
     font-size:10;
      border-bottom:1px solid;

}
.tax_table{
     font-size:11;
}

.barcode{
  /*grid-area: barcode;*/
  align-self: center;
}

.offer1{
     font-size:12;
}
</style>

<div align='center'>
    {% if letter_head %}
    {{ letter_head }}
    {% endif %}
    <b>
        <p>GRAND HYPERMARKET L.L.C</p>
        <p>SOUK AL JUBAIL TRN#{{name}}</p>
        <p>(A Division Of Regency Group)</p>
        <p>TEL:2025558554</p>
    </b>
</div>

<div align='center'> 
    <h2>
        <b>TAX INVOICE</b>
    </h2>
</div>

<div class="receipt_number">



     <p style="margin:0; display:inline;" align='left'>
        <b>Location:</b>{{company_address}}
    </p>
   
    <p style='margin:35; display:inline;' align='right'>
        <b>POS:</b>{{pos_profile}}
    </p>
    <br>
    <p style="margin:0; display:inline;" align='left'>
        <b>Receipt:</b>{{customer_name}}
    </p>
  
    <p style='margin:35; display:inline;' align='right'>
        <b>Date:</b>{{posting_date}}
    </p>
    <br>
    <p style="margin:0; display:inline;" align='left'>
        <b>Cashier:</b>{{customer_name}}
    </p>
    
    <p style='margin:35; display:inline;' align='right'>
        <b>Time:</b>{{posting_time}}
    </p>
</div>

<div class='tax'>
    <table border='0'>
    
		<tr class='amount_table'>
		    <td  borger='1'><b>{{ _("Item") }}</b></td>
			<td class="text-right"><b>{{ _("Qty") }}</b></td>
			<td class="text-right"><b>{{ _("Rate") }}</b></td>
			<td width="15%" class="text-right"><b>{{ _("Amount Excl. VAT") }}</b></td>
			<td width="15%" class="text-right"><b>{{ _("VAT") }}</b></td>
			<td class="text-right"><b>{{ _("Total Amount") }}</b></td> 
		</tr>
		{% for item in items %}
 		<tr class='amount_table'>
    		    <td >{{item.item_name}}</td>
    		    <td align='right'>{{item.qty}}</td>
    		    <td align='right'>{{item.rate}}</td>
    		    <td align='right'>{{item.amount}}</td>
    		  {% set t_rate = frappe.db.get_value("Item Tax Template Detail", {"parent": item.item_tax_template}, ["tax_rate"])  %}
    		  {% if t_rate %}
    		  {% set gst = (item.amount*t_rate)/100 %}

    		    <td align='right'>{{ frappe.format_value(gst, {'fieldtype': 'Currency', 'options': currency}, doc) }}</td>
    	{% else %}
    	<td></td>
        {% endif %}
        {% if t_rate %}
    		      {% set total = item.amount+(item.amount*t_rate)/100 %}
    		    <td align='right'>{{ frappe.format_value(total, {'fieldtype': 'Currency', 'options': currency}, doc) }}</td>
    	{% else %}
          <td align='right'>{{item.amount}}</td>
          {% endif %}
		</tr>
        
		{% endfor %}
    </table>
    <div>
        <table class="tax_table" align='right'>
            <tr>
                <td class="text-right"><b>Tax ID</b></td>
                <td class="text-right"><b>Bef. VAT</b></td>
                <td class="text-right"><b>Tax Amt.</b></td>
                <td class="text-right"><b>Total</b></td>
                
            </tr>
            <tr>
                <td >{{'5%'}}</td>
                <td >{{total}}</td>
                <td >{{total_taxes_and_charges}}</td>
                <td >{{grand_total}}</td>
            </tr>
        </table>
    </div>
    
</div>
<br>

<div align='center' class="thank_you">
        <p>{{barcode}}</p>
        <p>THANK YOU FOR SHOPING WITH US</p>
        <p>KEEP THE INVOICE FOR ANY EXCHANGE WITHIN 24 HRS</p>
        <p>NO EXCHANGE ON ELECTRONIC AND LINGERIES</p>
        <p>شكرًا لك على التسوق معنا</p>
        <p>احتفظ بالفاتورة لأي عملية صرف في غضون 24 ساعة</p>
        <p>لا يوجد تبادل في اللغات الإلكترونية واللغات</p>
    
    <br>
</div>
<br>
<div align='center' class='terms'>
    
        <p>Terms and conditions apply Grand Me cash back of this purchase will be credited to your grand me account with in 24 hours.</p>
        <p>تطبق الشروط والأحكام ، ستتم إضافة المبالغ المستردة النقدية من Grand Me لعملية الشراء هذه إلى حساب Grand Me الخاص بك في غضون 24 ساعة.</p>
    
    <br>
</div>
<br>
<div align='center' class='offer'>
        <p>To get our offers and promotions in your whatsapp,please save +9745851142 and send a 'Hi' </p>
        <p>للحصول على عروضنا وعروضنا الترويجية في الواتساب الخاص بك ، يرجى حفظ +9745851142 وإرسال كلمة "مرحبًا"</p>
    
    <br>
</div>
<br>
<div align='center' class='offer1'>
    <b>
    {% set offer = frappe.db.get_value("POS Profile", {"name": pos_profile} , ["offers"])  %}
        {% if offer %}
    <p>Offer:</p>
  <p>{{offer}}</p>
        {% endif %}
  
    </b>
    
</div>